<div class="text-center">
    <h2>確認画面</h2>

    <%= form_with(model: @tweet, url: tweets_path, local: true) do |f| %>
        <%= f.hidden_field :content %>
        
        <p class="confirm-text"><%= @tweet.content%></p>
        <%= f.submit "確認", class: "btn btn-primary btn-origin" %>
    <% end %>
    
    
    <%= form_with(model: @tweet, url: new_tweet_path, local: true, method: 'get') do |f| %>
      <%= f.hidden_field :content %>
      <%= f.submit "もどる", class: "btn btn-origin btn-default" %>
    <% end %>

</div>