<div class="text-center">
    <h2>新規投稿</h2>

    <% if @tweet.errors.any? %>
        <h4><%= @tweet.errors.count%>件のエラーがあります。</h4>
        <h4><%= @tweet.errors.full_messages %></h4>
    <% end %>

    <%= form_with(model: @tweet, local: true, url: confirm_tweets_path) do |f| %>
        <%= f.text_area :content, class: "entry-form" %></br>
        <%= f.submit "投稿", class: "btn btn-primary btn-origin" %>
    <% end %>

</div>

